.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

out/
file*.zip
Ano-*.xml
download.zip
/bin/

Deputados.xml
deputies.zip

politicaaberta.db.mv.db
app.log

politicaaberta.db.trace.db

raw.xml

